//creer la variable taille de la terre
// mercure deux fois plus petite que la terre
// venus : 1.1 plus petite que la terre 
//mars : 0.5 fois plus petite que la taille de la Terre
//jupiter :11.2 fois plus grande 
//saturne : 9.4 fois plus grande que la Terre
//uranus : 4 fois plus grande que la Terre
//neptune : 3.8 fois plus grande que la Terre
$earth-size: 100px
$mercury-size: calc($earth-size / 2.6)

$venus-size: calc($earth-size  / 1.1)
$mars-size: calc($earth-size / 2)
$jupiter-size: 150px
$saturn-size: 150px
$uranus-size: 150px
$neptun-size: 150px
$sun-size: calc($earth-size * 2)
$satellite-size: 16px
$moon-period: 2s
$deimos_period: 2s
$phobos-period: 3s
$gap: 20px
$mercury-distance: 300px